body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f1f1f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
  height: 100vh;
  width: 120px;
}

aside button {
  border: none;
  background-color: transparent;
}

.aside-toggle {
  width: 200px;
}

aside nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

aside nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

aside nav ul li span {
  visibility: hidden;
}

.aside-active {
  visibility: visible;
}
